@import 'styles/_colors.scss';

.forecast-item {
  padding: 0 15px;

  .day-header {
    color: $silver;
    text-align: center;
  }

  .weather-icon {
    margin: 8px 0;
  }

  .temp-footer {
    .max-temp {
      color: $gray;
      font-weight: 500;
    }

    .min-temp {
      color: $silver;
    }
  }
}
